# Data Tools and Ecosystem

In This notebook, Data Science tools and Ecosytem are Summerized

*Objectives: must have qualities to became a Data Scientist:*
* Curiosity
* Judgmental
* Argumentative

Some of the languages that Scientists use are: 
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. TenserFlow
2. SciPy
3. NumPy
4. Pandas
5. Matplotlib
6. Scikit-learn
7. PyTorch
8. Keras

| Data Science Tools |
| ------------------ |
| Jupyter |
| Rstudio |
| Spyder |

### Below are the few example of evaluating arithmetic expression in Python:

In [9]:
# This a simple arithmetic expression to mutiply then add integers

In [9]:
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by dividng by 60

In [13]:
200/60

3.3333333333333335

## Author
Yashima Chauhan